<div *ngIf="!secondDone">

    <p>Oh das war schön. Z erschte mau so richtig Gfüu, üs ide Arme hebe unds eifach gniesse, am 12i ir Nacht.</p>
    <br>
    <p>Hockemer doch hurti su härä wi denn und chum zu mir i Arm.</p>
    <br>
    <br>
    <p>Wenn das fertig isch chasch di mau chli umeluege. Was gsesch aus für Zahle? Zämä zeue und abschicke</p>

    <mat-form-field>
        <input matInput [(ngModel)]="inputNumber" type="number">
    </mat-form-field>
    <br>
    <button mat-stroked-button style="margin-top: 20px" (click)="changeSecond()">Habs</button>
</div>

